name: Python CI

on:
  push:
    branches: [ development ]
  pull_request:
  
jobs:
  run-tests:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
  
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.14.1"
  
      - name: Install dependencies
        run: pip install -r requirements.txt
  
      - name: Run tests
        run: pytest

      - name: Run tests with coverage and html report
        run: pytest --cov=. --cov-report=term --cov-report=xml --html=report.html

      - name: Prepare the webpage
        run: |
          mkdir sites
          mv report.html sites/
          mv coverage.xml sites/
      
      - name: upload the artifacts
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./sites